@charset "UTF-8";

body{
    background-color: #3C7ED2;
    font-family: Arial, Helvetica, sans-serif;
}

header > h1{
    text-align: center;
    font-size: 2.7em;
    font-weight: bolder;
    color: white;
}
section{
    background-color: white;
    width: 700px;
    padding: 20px;
    margin: auto;
    border-radius: 15px;
}
footer{
    text-align: center;
    color: white;
}