body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.calculator {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 500px;
    
}

.display {
    font-size: 2em;
    padding: 10px;
    text-align: right;
    border-bottom: 1px solid #ccc;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    font-size: 1.5em;
    padding: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.operator {
    background-color: #fcb040;
}

button.btn_calcular {
    background-color: #00bcd4;
    color: #fff;
}

button:active {
    background-color: #ccc;
}

.numeros{
    display: inline-block;
    
}